body,
html {
  font-family: 'Space Mono', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 15px;
}

h1,
h2,
h3 {
  font-family: 'Work Sans', monospace;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

#sapper {
  height: 100%;
}

:root {
  --a-color: black;
}

a {
  color: var(--a-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: var(--a-color);
}
